@import '../../../scss/variables';

.rightblock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}


.rightHeadReposit {
	font-weight: 600;
	font-size: 32px;
	line-height: 130%;
	color: #000;
	margin-bottom: 29px;
}

.pages {
	margin: 20px 0;

	.page,
	.currentpage {
		width: 21px;
		height: 25px;
		padding: 2px 6px;
		margin: 0 4px;
		border-radius: 3px;
		color: $color-text;
		cursor: pointer;
	}

	.currentpage {
		background-color: $accent;
		color: #fff;
	}
}


.fetching {
	margin: 0 auto;
	margin-top: 260px;
	margin-bottom: 184px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 2px dashed red;
	animation-name: search-fetching;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes search-fetching {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg) scale(1.3);
	}
}