@import '../../scss/variables';

.empty{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 197px;

	>img{
		margin-bottom: 42px;
	}

	>div{
		width: 210px;
		text-align: center;
		font-size: 22px;
		line-height: 28px;
		color: $color-text;
	}
}

