@import '../../../scss/variables';

.leftblock{
	display: flex;
	flex-direction: column;
	margin: 0 auto;

	.leftimg{
		border-radius: 100%;
		width: 288px;
		height: 288px;
		margin: 0 auto;
		margin-bottom: 29px;
	}

	.leftname{
		font-size: 26px;
		color: #000;
		margin-bottom: 12px;
	}
	
	.leftnik{
		margin-bottom: 25px;
		>a{
			font-size: $default-size-small;
			color: $accent;
		}
	}

	.leftcontainer{
		display: flex;
		flex-wrap: wrap;

		.leftfollowers{
			display: flex;
			margin-right: 20px;

			.leftIconFollowers{
				margin-right: 9px;
			}

			.leftTextFollowers{
				padding-top: 4px;
			}
		}
	}
}



