.reposit {
	width: 89.225%;
	background-color: #fff;
	border-radius: 6px;
	padding: 24px 32px;
	margin-bottom: 24px;
}

.innerreposit {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #0064EB;
	margin-bottom: 16px;
	cursor: pointer;
	word-wrap: break-word;
}

.desciption {
	font-size: 16px;
	line-height: 19px;
	font-style: normal;
	color: #000000;
	word-wrap: break-word;
}


@media (min-width: 991px){
	.reposit{
		width: 877px;
	}
}