
.empty{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 256px;
}

.emptyIcon{
	margin-top: 184px;
}

.emptyText{
	text-align: center;
	font-size: 22px;
	line-height: 28px;
	color: #808080;
}


@media (min-width: 360px) and (max-width: 414px){
	.empty{
		margin-top: 220px;
	}
}