@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
$accent: #0064EB;
$default-font: 'Inter';
$default-bg: #F9F9F9;
$color-text: #808080;
$default-size-small: 18px;
$default-size-big: 24px;